.ct_frontent_template_wrapper{
	text-align: center;
    margin: 5px 0;
}
#ct_customize_template {
    padding: 16px 16px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color:#fff;
    border-radius:0px;
    box-shadow:#d6d6d6 0px 0px 10px 3px;
}

#countDownMain {
    display: flex;
    gap: 0 10px;
    flex-direction: row;
    justify-content: center;
}

#countDownMain .dap_timer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
}

#countDownMain .dap_timer_wrapper .dap_timer_value {
    background-color: #61c88c;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
body #course_template_outer_id .course_template_inner .dap-timer-wrapper {
    padding: 10px;
}
body #course_template_outer_id .course_template_inner .dap-timer-wrapper h5 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

#countDownMain .dap_timer_wrapper .dap_timer_label {
    color: rgb(156 163 175);
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}

 
#ct_customize_template .complete_percent {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #444;
    margin-bottom: 0px;
    padding: 0;
    line-height: normal;
}
 
#ct_customize_template .course_name_text {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    color: #444;
    line-height: normal;
    padding: 0;
}
#ct_customize_template{
	box-sizing: border-box;
}
