@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

/* ----- New in DAP v5.0.2 ----- */
table.dap_affinfo_table_main {
	border-width: 0px;
	border-style: solid;
	background-color: #fafafa;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	border-collapse:collapse;
}

.affinfo_section_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #007acc;
	font-weight: bold;
}

.affinfo_sub_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}


.theading {
	background-color:  rgb(240, 240, 240)!important;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding:5px;
}
.tdpadding {
  padding:5px;
}

#summary-by-product-table {
	border-style: solid;
	border-width: 1px;
	border-color:rgb(230, 230, 230);
}

table#trborder {
	border-style: solid;
	border-width: 1px;
	border-color:rgb(230, 230, 230);
}

tr#trborder {
	outline:1px rgb(230, 230, 230);
	border-style: solid;
	border-width: 1px;
	border-color:rgb(230, 230, 230);
}

.trborder {
	outline: 1px rgb(230, 230, 230);
	border-style: solid!important;
	border-width: 1px!important;
	border-color:rgb(230, 230, 230)!important;
}


/* ----- New in DAP v4.4 ----- */
.userProfileLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: normal;
	text-align: left;
}

.userProfileField {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	width: 175px;
}

.userProfileSubmitButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
}

.confirmationMessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC0000;
	font-weight: bold;
	text-align: center;
}

.dap_userprofile_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CC0000;
	font-weight: bold;
	padding: 10px 10px 20px 10px;
}

.dap_highlight_bg {
	background-color: #FFCC00; /* #FFDFB0 #FFFAAF */
	padding: 5px;
}

/* ----- End DAP v4.4 changes ----- */

/* CSS for User Profile Table */
table.dap_user_profile_table {
	background-color: #fafafa;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	border: 1px solid #CCC;
	border-collapse:collapse;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	-khtml-border-radius: 10px;
  	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

table.dap_user_profile_table td {
	padding: 8px;
	border-collapse:collapse;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	-khtml-border-radius: 10px;
  	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	background-color: #fafafa;
}

.dap_userprofile_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CC0000;
	font-weight: bold;
	padding: 10px 10px 20px 10px;
}


/* CSS for Product Links Table */
.dap_product_links_table {
	background-color: #fafafa;
	width:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	border: 1px solid #CCC;
	border-collapse:collapse;
	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	-khtml-border-radius: 10px;
  	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.dap_product_links_table div {
	padding: inherit;
}

/* CSS for Product Links List */
.dap_product_links_list {
	padding:10;
	list-style-type:none;
	line-height:2em;
	margin-left:auto;
}

/* CSS for Default Link color of Product Links */
#dap_product_links_list a {
	background-color:#fff;
	color:#0000CC;
}

/* CSS for 'Visited' Link color of Product Links */
#dap_product_links_list a:visited {
	background-color:#fff;
	color:#8F234B;
}

/* CSS for Product Heading Text Style in Product Table */
.dap_product_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #CC0000;
	font-weight: bold;
}



/* CSS for Affiliate Table Main */
table.dap_affiliate_table_main {
	border-width: 0px;
	border-style: solid;
	background-color: #fafafa;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	border-collapse:collapse;
}

/* CSS for Affiliate Earnings Table */
table.dap_affiliate_details_table {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	background-color: #fafafa;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}

table.dap_affiliate_details_table td {
	padding: 5px;

	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	background-color: #fafafa;
	-moz-border-radius: 1px 1px 1px 1px;
}

.affiliate_section_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #CC0000;
	font-weight: bold;
}

.affiliate_sub_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}



.regulartext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}

.regulartextLarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #111111;
	font-weight: normal;
}

.regulartextLargeBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #111111;
	font-weight: bold;
}

.regulartextVeryLargeBoldRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #CC0000;
	font-weight: bold;
}

/* CSS for errorMsgTemplates */
table.errorMsgTemplateTable {
	background-color: #FFFFFF;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}

table.errorMsgTemplateTable td {
	font-size: 12pt;
	font-weight: normal;

	padding: 8px;
	border-width: 0px;
	border-style: solid;
	border-collapse: collapse;
	background-color: #FFF7C3;
	-moz-border-radius: 1px 1px 1px 1px;
}


.spacer {
	clear:both;
	height:1px;
}

/* ----------- DAP Signup Form ----------- */
.dap_direct_signup_form {
	margin:auto;
	width:400px;
	padding:14px;
}
#stylized {
	border:solid 1px #000000;
	background:#EFEFEF;
}
#stylized h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}
#stylized p {
	font-size:11px;
	color:#000000;
	margin-bottom:0px;
}
#stylized label {
	display: block;
	float:left;
	clear: both;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	width:140px;
	padding:10px;
	margin:10px 0px;
}
#stylized input {
	float: left;
	font-size:14px;
	border:solid 1px #aacfe4;
	width:160px;
	padding:10px;
	margin:10px 5px;
}
#stylized .small {
	color:#666666;
	display:block;
	font-size:10px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
#stylized button {
	float: inherit;
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#C4C4C4;
	text-align:center;
	color:#000000;
	font-size:14px;
	font-weight:bold;
}
#stylized p:empty {
	display: none;
}
#stylized br {
	display:none
}

/*  contact for with captcha start 18-04-2017 */

#captcha-form-container {
    max-width: 400px;
    margin: 0 auto;
    border: 3px solid #dadada;
    box-shadow: 0 0 9px 2px #dfdfdf;
    border-radius: 5px;
    overflow: hidden;
    background:white !important;
}
#form-with-captcha h3:before {
    content: "" !important;
    height: 20px !important;
    position: absolute !important;
    width: 100% !important;
    background-repeat: repeat-x !important;
    right: 0 !important;
    top: 0 !important;
    background-position: top center !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}
#form-with-captcha h3 {
    background: #dfdfdf none repeat scroll 0 0 !important;
    color: #555 !important;
    font-size: 24px !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 10px 15px 15px !important;
    position: relative !important;
    text-align: center !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}

#form-with-captcha {
    text-align: center;
}
#form-with-captcha *{
	box-sizing:border-box;
}

#form-with-captcha .input-field {
    height: 45px !important;
    max-width: 400px !important;
    padding: 0 15px 0 40px !important;
    color: #555 !important;
    font-size: 16px !important;
    display: block !important;
    width: 100% !important;
    margin: 20px auto !important;
    border: 1px solid #EBEBEB !important;
    box-shadow: 0 3px 0px 0px #EBEBEB !important;
    border-radius: 3px !important;
    transition: all .7s !important;
    background: #f7f7f7 !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;

}

#form-with-captcha .input-field::-moz-placeholder {
	color: #aaaaaa !important;
	font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}

#form-with-captcha .input-field:focus {
    outline: none !important;
    border: 1px solid #62C2E4 !important;
    box-shadow: 0 3px 0 0 #62C2E4 !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}
#form-with-captcha .captcha_field_block {
    padding: 0 15px !important;
}

#form-with-captcha .btn-submit {
    height: 52px !important;
    max-width: 400px !important;
    width: 100% !important;
    display: block !important;
    margin: 20px auto !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-size: 22px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    transition: all .7s !important;
    padding: 0 !important;
    text-transform: none !important;
    box-shadow:none !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}
#form-with-captcha .btn-submit:hover{
    box-shadow:none !important;
    font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}
#form-with-captcha .captcha {
	text-align: left !important;
	margin: 0px auto 30px !important;
	padding: 0px !important;
	float: left;
	width: 100%;
}
#form-with-captcha .g-recaptcha div {
    width: 400px !important;
}

.forminput_group {
	position: relative;
}

#form-with-captcha .icon {
	left: 0;
	position: absolute;
}

#form-with-captcha .icon .fa {
	font-size: 18px !important;
	color: #5e5e5e !important;
	padding-top: 5px !important;
}

.dap_first_icon{
	background-image: url("../../images/user-ico.png");
    background-repeat: no-repeat;
    height: 20px;
    transform: translateY(-60%);
    width: 20px;
}
.dap_second_icon{
	background-image: url("../../images/email-ico.png");
    background-repeat: no-repeat;
    height: 20px;
    transform: translateY(-60%);
    width: 20px;
}

#form-with-captcha .icon {
	left: 7px;
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
}



/*Affiliate Performance Summary Css (04 Oct, 2017) */
affiliate_details_div {
    background-color: #fff;
    padding: 10px 15px;
}

#affiliate_details_div #summary-by-product-table tr td {
    line-height: 20px;
}
#affiliate_details_div #responsive-table-element table td input {
    padding: 5px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    line-height: normal;
    margin: 10px 0;
}
#affiliate_details_div tr td {
    padding: 5px 10px;
}

#affiliate_details_div .affinfo_sub_heading {
    font-size: 12px;
    color: #000000 !important;
    font-weight: bold !important;
}


#affiliate_details_div .regulartextLarge {
    font-size: 14px;
    color: #111111 !important;
    font-weight: normal !important;
}

#affiliate_details_div table th.theading {
    background-color: rgb(240, 240, 240)!important;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    background: none;
    border: none;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#aff_perf_summary_div table tbody tr:first-child {
    border-top: none !important;
}

#aff_perf_summary_div table tbody tr:last-child {
    border-bottom: none !important;
}

#affiliate_details_div #aff_perf_summary_div table tbody tr td {
padding: 5px !important;
word-break: break-all !important;
}
#affiliate_details_div a {
color: #007acc;
word-break: break-all;
}

#affiliate_details_div #aff_perf_summary_div table tbody tr td {
    /*padding: 5px !important;*/
}

#affiliate_details_div div#responsive-table-element table tbody tr:first-child {
    border-top: none !important;
}

#affiliate_details_div div#responsive-table-element table tbody tr {
    border: none !important;
}
#affiliate_details_div a:visited, #affiliate_details_div a:visited {
    color:#007acc;
}
#aff_earnings_details_div table thead tr th {
    background-color: rgb(240, 240, 240)!important;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    background: none;
    border: none;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#affiliate_details_div div#responsive-table-element > table > tbody > tr > td {
    padding: 0 !important;
		border: none !important;
}





@media screen and (min-width: 461px) and (max-width: 2000px){
	.g-recaptcha {
		transform:scale(1.20);
		-webkit-transform:scale(1.20);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}

}
@media screen and (min-width: 395px) and (max-width: 460px){
	#form-with-captcha #rc-imageselect, #form-with-captcha .g-recaptcha {
		transform:scale(1.01);
		-webkit-transform:scale(1.01);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}

@media screen and (min-width: 330px) and (max-width: 394px){
	#form-with-captcha #rc-imageselect, #form-with-captcha .g-recaptcha {
		transform:scale(0.90);
		-webkit-transform:scale(0.90);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	#form-with-captcha .captcha {
		margin: 0 auto 10px !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 329px){
	#form-with-captcha #rc-imageselect, #form-with-captcha .g-recaptcha {
		transform:scale(0.79);
		-webkit-transform:scale(0.79);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
	#form-with-captcha .captcha {
		margin: 0 auto 10px !important;
	}
}

#affiliate_details_div  {
    background: #fff;
    padding: 0;
    float: left;
    width: 100%;
 }

#affiliate_details_div  tr {
    border-bottom: 0px solid #eee;
}
#affiliate_details_div #responsive-table-element table td input {
    background: inherit;
}
#affiliate_details_div table.dap_affiliate_details_table td {
    border-width: 0px;
}

.dap_product_links_table .dap_product_links_list li a , .dap_product_links_table .dap_product_links_list li , .dap_product_links_table .dap_product_links_list li a:hover , .dap_product_links_table .dap_product_links_list li:hover {
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    text-transform: none;
    color: #000000;
}
table.dap_affiliate_details_table td {
    text-align: left;
    font-family: 'NobileRegular', sans-serif;
}
.dap_product_links_table .dap_product_links_list li{
   padding: 5px 0 0;
   font-family: 'NobileRegular', sans-serif;
}
.dap_product_links_table .dap_product_links_list li a:hover
{
text-decoration:underline
}
/*  contact for with captcha end 18-04-2017 */

#aff_perf_summary_div{
	float: left;
    width: 100%;
    clear: both;
}
#affiliate_details_div  table tr:nth-child(odd) td {
     background: none;
}
   

/*-----------------------------------*/


#affiliate_details_div{
	max-width: 1030px;
	float: left;
	margin: auto 20px;
    border: 1px solid #ddd; 
    width:100%;     
        box-sizing: border-box;                            
}           
#affiliate_details_div table {
    border: none;
}

.dap_affinfo_table_main {
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

.dap_affinfo_table_main .affinfo_section_heading, div#aff_perf_summary_div{
	padding: 0 ;
}


div#aff_stats_div{
	overflow: auto !important;
	height: auto !important;
}

@media only screen and (max-width: 767px){

		
	#affiliate_details_div #aff_perf_summary_div table tbody tr.no_data_row td , #affiliate_details_div  table tbody tr.no_data_row td{
	    /*padding: 5px !important;*/
	}
	.responsive-table-element thead, #responsive-table-element thead{
		min-height: 0;
	}
	.responsive-table-element {
	    float: left;
	}
	.affinfo_section_heading {
	    margin-top: 15px;
	    float: left;
	    width: 100%;
	}

}


/* 14 March*/
#affiliate_details_div *{
	font-family: 'Open Sans', sans-serif;
	font-size:14px; 
}

#affiliate_details_div button, #affiliate_details_div input, #affiliate_details_div select, #affiliate_details_div textarea{
	font-size:14px; 
}

#affiliate_details_div table th.theading {
    color: #000;
    font-size: 14px;
    font-weight:600;
    width:170px ;
    min-width: 120px;
}
.responsive-table-element tr {
    font-size: 14px;
    line-height: normal;
}
#affiliate_details_div table th.theading br {
	display:none; 
}
.affinfo_section_heading {
    margin: 0 0 12px;
}
#affiliate_details_div .affinfo_sub_heading {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 500 !important;
    padding: 0 !important;
}
#affiliate_details_div .regulartextLarge {
	font-family: 'Open Sans', sans-serif !important;
}
#affiliate_details_div a {
	color:#007acc;
}
#affiliate_details_div .responsive-table-element {
    overflow: auto;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom:25px;
}
div#responsive-table-element{
padding: 20px;
float: left;
width: 100%;
background: #FFF;
    box-sizing: border-box;
}
div#aff_payments_div #summary-by-product-table {
margin-bottom: 20px;
}
#affiliate_details_div a {
   display: inline-block;
}
#summary-by-product-table {
    border:1px solid #ddd !important;
}

#affiliate_details_div a {
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

  
.et_divi_theme #top-header {
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease;
    display:none;
}

 .et_divi_theme.admin-bar #main-header{
    top: 32px !important;
}
